{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'task3.css' %}">
    <title>Task 3</title>
</head>
<body>
<div class="container">
    <h1>Task Management</h1>
    <div class="dropdown">
        <button class="dropdown-btn" type="button">Choose the task or create new</button>
        <div class="dropdown-menu">
            <a href="{% url 'task3_create' %}"> -- Create new task -- </a>
            {% for task in tasks %}
                <a href="#">{{ task.title }}</a>
            {% endfor %}
        </div>
    </div>
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% block req_form %}
        <h2>Create new task(s)</h2>
        <form class="task-form" action="{% url 'task3_create' %}" method="post">
            {% csrf_token %}
            {{ formset.management_form }}

            <div class="form-blocks">
                {% for form in formset %}
                    <div class="form-block">
                        {% for field in form.visible_fields %}
                            {% if field.name != 'id' %}
                                {{ field.label_tag }}
                                {% if field.errors %}
                                    <div class="alert-error">
                                        {% for error in field.errors %}
                                            <div>{{ error }}</div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {{ field }}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}


            </div>

            <div class="buttons">
                <button class="minus-button" type="button">-</button>
                <button class="create-button" type="submit">Create</button>
                <button class="plus-button" type="button">+</button>
            </div>
        </form>
    {% endblock %}
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const minusButton = document.querySelector('.minus-button');
        const plusButton = document.querySelector('.plus-button');

        minusButton.addEventListener('click', removeForm);
        plusButton.addEventListener('click', addForm);
    });

    function removeForm() {
        const formBlocks = document.querySelectorAll('.form-block');

        if (formBlocks.length > 1) {
            formBlocks[formBlocks.length - 1].remove();

            const managementForm = document.querySelector('#id_form-TOTAL_FORMS');
            const totalForms = parseInt(managementForm.value);
            managementForm.value = totalForms - 1;
        }
    }

    function addForm() {
        const formBlocks = document.querySelectorAll('.form-block');
        const emptyFormHtml = '{{ formset.empty_form|escapejs }}';

        const newFormPrefix = 'form-' + formBlocks.length;

        const newFormBlock = document.createElement('div');
        newFormBlock.classList.add('form-block');
        newFormBlock.innerHTML = emptyFormHtml.replace(/form-\__prefix__/g, newFormPrefix);

        const formBlocksContainer = formBlocks[0].parentNode;
        formBlocksContainer.insertBefore(newFormBlock, formBlocks[formBlocks.length - 1].nextSibling);

        const managementForm = document.querySelector('#id_form-TOTAL_FORMS');
        const totalForms = parseInt(managementForm.value);
        managementForm.value = totalForms + 1;

        // Update the name attribute of the added form fields to match the correct form prefix
        const addedFormFields = newFormBlock.querySelectorAll('[name^="form-__prefix__"]');
        addedFormFields.forEach(field => {
            const fieldName = field.name.replace(/form-\__prefix__-/g, newFormPrefix + '-');
            if (!fieldName.includes('-id')) {
                field.name = fieldName;
            } else {
                field.remove();
            }
        });
    }
</script>

</body>
</html>
